%nav.breadCrumbs
  %ul
    %li
      = link_to "/" do
        FURIMA
    %li
      = icon('fas', 'angle-right')
.show__main
  .showMain
    .contentLeftqq
    .showMain__contentRight
      .showMain__content
        .itemBox
          %h2.itemBox__name
            = @item.name
          .itemBox__body
            = image_tag @images[0].image.url
            .itemBox__body__small
              - @images.each do |img|
                = image_tag img.image.url ,class: "itemBox__body__small--image"
          .itemBox__price
            %span
              = "¥#{@item.price}"
            .itemBox__price-detail
              %span
                (税込)
              %span
                送料込み
          .itemDetail
            = @item.item_detail
          .showTable
            %table.showTable__table
              %tbody.showTable__tbody
                %tr.showTable__tr
                  %th.showTable__th
                    出品者
                  %td.showTable__td
                    = @user.nick_name
                %tr.showTable__tr
                  %th.showTable__th
                    カテゴリー
                  %td.showTable__td
                    - unless @parent == nil
                      = link_to parent_category_path(@parent) do
                        = @parent.name
                      %br/
                    - unless @child == nil
                      = link_to child_category_path(@child) do
                        = @child.name
                      %br/
                    - unless @grandchild == nil
                      = link_to grandchild_category_path(@grandchild) do
                        = @grandchild.name
                %tr.showTable__tr
                  %th.showTable__th
                    ブランド
                  %td.showTable__td
                    
                %tr.showTable__tr
                  %th.showTable__th
                    商品のサイズ
                  %td.showTable__td
                    
                %tr.showTable__tr
                  %th.showTable__th
                    商品の状態
                  %td.showTable__td
                    = @item.status.status
                %tr.showTable__tr
                  %th.showTable__th
                    配送料の負担
                  %td.showTable__td
                    = @item.delivery_to_pay.to_pay
                %tr.showTable__tr
                  %th.showTable__th
                    発送元の地域
                  %td.showTable__td
                    = @item.delivery_area.name
                %tr.showTable__tr
                  %th.showTable__th
                    発送日の目安
                  %td.showTable__td
                    = @item.delivery_day.days
          .optionalArea
            %ul
              %li.optionalBtn.likeBtn#likeBtn
                = icon('fas', 'star')
                お気に入り １
            %ul.optinal
              %li.optionalBtn
                = link_to "#" do
                  = icon('fas', 'flag')
                  不適切な商品の通報
        - if user_signed_in? && current_user.id != @item.sell_user_id
          - if @item.phase_id == 1
            .buyArea
              = link_to "購入画面に進む", item_purchases_path(@item.id)
          - else
            .soldArea
              売り切れました
        - if user_signed_in? && current_user.id == @item.sell_user_id
          .editArea
            = link_to "投稿を編集", edit_item_path(@item.id)
          .deleteArea
            = link_to "投稿を削除", item_path(@item.id), method: :delete
        .commentBox
          %ul.commentContents
          %form.new_comments
            %input{name: "utf8", type: "hidden", value: "✔︎"}
            %input{type: "hidden", name: "authenticity_token", value: ""}
            %textarea{required: "required", name: "comment[body]", id: "comment_body"}
            %p.noticeMsg
              相手のことを考え丁寧なコメントを心がけましょう。
              %br/
              不快な言葉遣いなどは利用制限や退会処分となる事があります。
            %br/
            %button.commentBtn{name: "button", type: "submit"}
              = icon('fas', 'comment')
              コメントする
        %ul.links
          %li
            = link_to "#" do
              = icon('fas', 'angle-left')
              %span
              前の商品
          %li
            = link_to "#" do
              %span
                後ろの商品
              = icon('fas', 'angle-right')
        .relatedItems
          = link_to "#" do
            レディースをもっと見る
          .productLists
            .productList
              = link_to "#" do
                %figure.productList--img
                  = image_tag 'material/a001.png', alt: 'サンプル画像'
                .productList--body
                  %h3.productList--body__name
                    product1
                  .details
                    %ul
                      %li
                        10000円
                      %li
                        = icon('fas', 'star')
                        1
                    %p
                      (税込)

