<<<<<<< HEAD
= "#{@categories.name}の商品一覧"
=======
= "#{@category.name}の商品一覧"
>>>>>>> e78065a... commit
- @items.each do |item|
  = item.name
  = item.price
  - category = Category.find(item.category_id) 
  = category.name
