.SellPage
  .SellPage__header
    = image_tag "material/logo/logo.png", class: "SellPage__header__logo"
  .SellPage__contents
    = form_with url: {action: "create"}, model: @item, local: true, class: "SellPage__format" do |form|
      .SellPage__contents__paragraph
        .SellPage__contents__majoritem
          全般
        .SellPage__contents__title
          出品画像
          %span.SellPage__contents--required
            必須
        .SellPage__contents__detail
          画像をアップロード出来ます
        .SellPage__contents__imagefield
        = form.label "item_images_attributes_0_image" , class: "SellPage__contents__imgbtm", data:{index: 0} do
          = image_tag "material/icon/icon_camera.png", class: "SellPage__contents__imgbtm--icon"
          .SellPage__contents__imgbtm--text
            クリックしてファイルをアップロード
        = form.fields_for :item_images do |i|
          .SellPage__contents__imgbtm--filefield
            = i.file_field :image, class: "SellPage__contents__imgbtm--file"
        .SellPage__contents__title
          商品名
          %span.SellPage__contents--required
            必須
          = form.text_field :name, placeholder: "40文字まで", class: "SellPage__format--text"
        .SellPage__contents__title
          商品の説明
          = form.text_area :item_detail, placeholder: "商品の説明（必須 1,000文字以内）\n（色、素材、重さ、定価、注意点など）", class: "SellPage__format--textarea"
      .SellPage__contents__paragraph
        .SellPage__contents__majoritem
          商品の状態
        .SellPage__contents__title
          カテゴリー
          %span.SellPage__contents--required
            必須
          #category_field
            = form.collection_select :category_id, @parents, :id, :name, { include_blank: "---", selected:"" }, id: "category_form", class: "SellPage__format--select"
          -# = form.select :category, options_for_select(Category.all.map { |ct| [ct.name, ct.id] }, 0), {prompt: "選択してください"} ,class: "SellPage__format--select"
        .SellPage__contents__title
          商品の状態
          %span.SellPage__contents--required
            必須
          = form.select :status_id, options_for_select(Status.all.map { |st| [st.status, st.id] }, 0), {prompt: "選択してください"} ,class: "SellPage__format--select"
      .SellPage__contents__paragraph
        .SellPage__contents__majoritem
          配送について
        .SellPage__contents__title
          配送料の負担
          %span.SellPage__contents--required
            必須
          = form.select :delivery_to_pay_id, options_for_select(DeliveryToPay.all.map { |pay| [pay.to_pay, pay.id] }, 0), {prompt: "選択してください"} ,class: "SellPage__format--select"
        .SellPage__contents__title
          発送元の地域
          %span.SellPage__contents--required
            必須
          = form.select :delivery_area_id, options_for_select(Prefecture.all.map { |pre| [pre.name, pre.id] }, 0), {prompt: "選択してください"} ,class: "SellPage__format--select"
        .SellPage__contents__title
          発送までの日数
          %span.SellPage__contents--required
            必須
          = form.select :delivery_day_id, options_for_select(DeliveryDay.all.map { |day| [day.days, day.id] }, 0), {prompt: "選択してください"} ,class: "SellPage__format--select"
      .SellPage__contents__paragraph
        .SellPage__contents__majoritem
          価格
        .SellPage__contents__titleline
          .SellPage__contents__titleline
            .SellPage__contents__title
              販売価格
            #pricetitle.SellPage__contents__title
              ¥
          = form.number_field :price, in: 300.0..9999999.0, step: 1, value: 0, class: "SellPage__format--numfield SellPage__format--numfield--prices"
      = form.submit "出品する", class: "SellPage__format__submit"
    = link_to :back, class: "SellPage__contents__backlink" do
      もどる
  .SellPage__footer
    = image_tag "material/logo/logo.png", class: "SellPage__footer__logo"
