!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title FMLog
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application'
    %script{src: "https://js.pay.jp/", type: "text/javascript"}
    %script{type: "text/javascript"} Payjp.setPublicKey('pk_test_652cb03ddb4c2f2e025b449c');
  %body

  %header.header
    .header__interior
      .middle
        %h1.icon
          = link_to image_tag('material/logo/logo.png'), "/"
        .searchBox
          %form{action: '#', accept: {charset: "UTF-8"}, method: "get"} 
            %input{name: "utf8", type: "hidden", value: "✔︎"}
            %input{class: "serchBox--input", id: "searchInput", name: "key", placeholder: "キーワードから探す"}
            %button{button: "submit"}
              .searchBox__icon
                = image_tag 'material/icon/icon-search 1.png', alt: 'サーチアイコン'
            %input{:name => "authenticity_token", :type => "hidden", :value => "E7WEpoIpr6jLOvBMUBgk49eXaFDDWeSCJkT0iVYeFZjedgoevFbggRrwM1MWfNwmbprOQFUumSqEkU6pUS5W0g=="}
        %ul.resultLists
      %nav.nav
        %ul.listLeft
          %li.listLeft__item
            .categories
              %ul
                %li
                  = link_to categories_path, class: "category__search search__btn" do
                    %i.fas.fa-bars.category__icon
                    カテゴリーから探す
                  %ul.category__parent.category__list
                    - @parents.each do |parent|  
                      %li
                        = link_to parent_category_path(parent), class: "category__parent--name" do
                          = parent.name
                        %ul.category__child.category__list
                          - parent.children.each do |child|
                            %li
                              = link_to child_category_path(child), class: "category__child--name" do
                                = child.name
                              %ul.category__grandchild.category__list
                                - child.children.each do |grandchild|
                                  %li
                                    = link_to grandchild_category_path(grandchild), class: " category__child--name" do
                                      = grandchild.name 

            = link_to "ブランド", "#", id: "brandBtn"
            %ul.brandPlldouwn.displayNone

        %ul.listsRight
          %li.listsRight__item.listsRight__item--login
            -# 仮配置
            - unless user_signed_in?
              = link_to "ログイン", user_session_path
            - else
              = link_to "ログアウト", destroy_user_session_path, method: :delete
          %li.listsRight__item.listsRight__item--new
            = link_to "新規会員登録", new_user_registration_path

  = yield

  %aside.appliBanner
    .middle
      %h2.middle__title だれでもかんたん、人生を変えるフリマアプリ
      %p.middle__text 今すぐ無料ダウンロード！
    .middle__icon
      = link_to "/" do
        = image_tag('material/logo/Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg', class: "appleBtn")
      = link_to "/" do
        = image_tag('material/logo/google-play-badge.svg', class: "googleBtn")

  %footer.footer
    %ul.contents
      %li.content
        %h2.content__title FURIMAについて
        %ul
          %li
            = link_to "会社概要(運営会社)", "#"
          %li
            = link_to "プライバシーポリシー", "#"
          %li
            = link_to "FURIMA利用規約", "#"
          %li
            = link_to "ポイントに関する特約", "#"
      %li.content
        %h2.content__title FURIMAを見る
        %ul
          %li
            = link_to "カテゴリー一覧", "#"
          %li
            = link_to "ブランド一覧", "#"
      %li.content
        %h2.content__title ヘルプ＆ガイド
        %ul
          %li
            = link_to "FURIMAガイド", "#"
          %li
            = link_to "FURIMAロゴ利用ガイドライン", "#"
          %li
            = link_to "お知らせ", "#"

    .footer__logo
      = link_to "/" do
        = image_tag('material/logo/logo-white.png')
    %p &copy; FM_log
  = link_to new_sell_path ,class: "purchase" do
    .buyBtn
      %span.buyBtn__text 出品する
      = image_tag('material/icon/icon_camera.png', class: "buyBtn__icon")
