!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title FMLog
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application'
  %body

  %header.header
    .header__interior
      .middle
        %h1.icon
          = link_to image_tag('material/logo/logo.png'), "/"
        .searchBox
          %form{action: '#', accept: {charset: "UTF-8"}, method: "get"} 
            %input{name: "utf8", type: "hidden", value: "✔︎"}
            %input{class: "serchBox--input", id: "searchInput", name: "key", placeholder: "キーワードから探す"}
            %button{button: "submit"}
              .searchBox__icon
                = image_tag 'material/icon/icon-search 1.png', alt: 'サーチアイコン'
            %input{:name => "authenticity_token", :type => "hidden", :value => "E7WEpoIpr6jLOvBMUBgk49eXaFDDWeSCJkT0iVYeFZjedgoevFbggRrwM1MWfNwmbprOQFUumSqEkU6pUS5W0g=="}
        %ul.resultLists
      %nav.nav
        %ul.listLeft
          %li.listLeft__item.listLeft__item-first
            = link_to "カテゴリー", "#", id: "categoryBtn"
            .tree.displayNone
              %ul.categoryTree
                - @categories.roots.each do |root_category|
                  %li.categoryTree--item
                    %h3
                      %a{:href => "/"}= root_category.name
                    %ul.categoryTree2
                      - root_category.children.each do |children_category|
                        %li.categoryTree--item2
                          %a{:href => "/"}= children_category.name
                          %ul.categoryTree3
                            - children_category.children.each do |children_chidren_category|
                              %li.categoryTree--item3
                                %a{:href => "/"}= children_chidren_category.name
          %li.listLeft__item
            = link_to "ブランド", "#", id: "brandBtn"
            %ul.brandPlldouwn.displayNone

        %ul.listsRight
          %li.listsRight__item.listsRight__item--login
            = link_to "ログイン", "#"
          %li.listsRight__item.listsRight__item--new
            = link_to "新規会員登録", "#"

  = yield

  %aside.appliBanner
    .middle
      %h2.middle__title だれでもかんたん、人生を変えるフリマアプリ
      %p.middle__text 今すぐ無料ダウンロード！
    .middle__icon
      = link_to "/" do
        = image_tag('material/logo/Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg', class: "appleBtn")
      = link_to "/" do
        = image_tag('material/logo/google-play-badge.svg', class: "googleBtn")

  %footer.footer
    %ul.contents
      %li.content
        %h2.content__title FURIMAについて
        %ul
          %li
            = link_to "会社概要(運営会社)", "#"
          %li
            = link_to "プライバシーポリシー", "#"
          %li
            = link_to "FURIMA利用規約", "#"
          %li
            = link_to "ポイントに関する特約", "#"
      %li.content
        %h2.content__title FURIMAを見る
        %ul
          %li
            = link_to "カテゴリー一覧", "#"
          %li
            = link_to "ブランド一覧", "#"
      %li.content
        %h2.content__title ヘルプ＆ガイド
        %ul
          %li
            = link_to "FURIMAガイド", "#"
          %li
            = link_to "FURIMAロゴ利用ガイドライン", "#"
          %li
            = link_to "お知らせ", "#"

    .footer__logo
      = link_to "/" do
        = image_tag('material/logo/logo-white.png')
    %p &copy; FM_log
  = link_to "/" ,class: "purchase" do
    .buyBtn
      %span.buyBtn__text 出品する
      = image_tag('material/icon/icon_camera.png', class: "buyBtn__icon")
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body


  