!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title FMLog
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body

    %nav
      %ul.pc-header-nav
        %li.toppage-header-top__footer-search-wrapper
          %h2
            = link_to root_path, class: "pc-header-nav-root list-parent" do
              = icon('fas', 'list-ul lg',
              alt: 'list-icon', style: 'color:#3CCACE')
              %span.toppage-header-top__footer-search-text カテゴリーから探す
          %ul.pc-header-nav-parent-wrap
            - @categories.roots.each do |root_category|
              %li.pc-header-nav-parent
                %h3
                  %a{:href => "/"}= root_category.name
                %ul.pc-header-nav-child-wrap
                  - root_category.children.each do |children_category|
                    %li.pc-header-nav-child
                      %a{:href => "/"}= children_category.name
                      %ul.pc-header-nav-grand-child-wrap
                        - children_category.children.each do |children_chidren_category|
                          %li.pc-header-nav-grand-child
                            %a{:href => "/"}= children_chidren_category.name

  = yield

  