!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title FMLog
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application'
  %body

  %header.header
    .header__interior
      .middle
        %h1.icon
          = link_to image_tag('material/logo/logo.png'), "/"
        .searchBox
          %form{action: '#', accept: {charset: "UTF-8"}, method: "get"} 
            %input{name: "utf8", type: "hidden", value: "✔︎"}
            %input{class: "serchBox--input", id: "searchInput", name: "key", placeholder: "キーワードから探す"}
            %button{button: "submit"}
              .searchBox__icon
                = image_tag 'material/icon/icon-search 1.png', alt: 'サーチアイコン'
            %input{:name => "authenticity_token", :type => "hidden", :value => "E7WEpoIpr6jLOvBMUBgk49eXaFDDWeSCJkT0iVYeFZjedgoevFbggRrwM1MWfNwmbprOQFUumSqEkU6pUS5W0g=="}
        %ul.resultLists

      %nav.nav
        %ul.listLeft
          %li.listLeft__item.listLeft__item-first
            = link_to "カテゴリー", "#", id: "categoryBtn"
            .tree.displayNone
              %ul.categoryTree
                %li.categoryTree--item
                  = link_to "レディース", "#", id:1
                %li.categoryTree--item
                  = link_to "メンズ", "#", id:2
                %li.categoryTree--item
                  = link_to "ベビー・キッズ", "#", id:3
                %li.categoryTree--item
                  = link_to "インテリア・住まい・小物", "#", id:4
                %li.categoryTree--item
                  = link_to "本・音楽・ゲーム", "#", id:5
                %li.categoryTree--item
                  = link_to "おもちゃ・ホビー・グッズ", "#", id:6
                %li.categoryTree--item
                  = link_to "コスメ・香水・美容", "#", id:7
                %li.categoryTree--item
                  = link_to "家電・スマホ・カメラ", "#", id:8
                %li.categoryTree--item
                  = link_to "スポーツ・レジャー", "#", id:9
                %li.categoryTree--item
                  = link_to "ハンドメイド", "#", id:10
                %li.categoryTree--item
                  = link_to "チケット", "#", id:11
                %li.categoryTree--item
                  = link_to "自動車・オートバイ", "#", id:12
                %li.categoryTree--item 
                  = link_to "その他", "#", id:13
          %li.listLeft__item
            = link_to "ブランド", "#", id: "brandBtn"
            %ul.brandPlldouwn.displayNone

        %ul.listsRight
          %li.listsRight__item.listsRight__item--login
            = link_to "ログイン", "#"
          %li.listsRight__item.listsRight__item--new
            = link_to "新規会員登録", "#"

  = yield

  %aside.appliBanner
    .middle
      %h2.middle__title だれでもかんたん、人生を変えるフリマアプリ
      %p.middle__text 今すぐ無料ダウンロード！
    .middle__icon
      = link_to "/" do
        = image_tag('material/logo/Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg', class: "appleBtn")
      = link_to "/" do
        = image_tag('material/logo/google-play-badge.svg', class: "googleBtn")

  %footer.footer
    %ul.contents
      %li.content
        %h2.content__title FURIMAについて
        %ul
          %li
            = link_to "会社概要(運営会社)", "#"
          %li
            = link_to "プライバシーポリシー", "#"
          %li
            = link_to "FURIMA利用規約", "#"
          %li
            = link_to "ポイントに関する特約", "#"
      %li.content
        %h2.content__title FURIMAを見る
        %ul
          %li
            = link_to "カテゴリー一覧", "#"
          %li
            = link_to "ブランド一覧", "#"
      %li.content
        %h2.content__title ヘルプ＆ガイド
        %ul
          %li
            = link_to "FURIMAガイド", "#"
          %li
            = link_to "FURIMAロゴ利用ガイドライン", "#"
          %li
            = link_to "お知らせ", "#"

    .footer__logo
      = link_to "/" do
        = image_tag('material/logo/logo-white.png')
    %p &copy; FM_log
  = link_to "/" ,class: "purchase" do
    .buyBtn
      %span.buyBtn__text 出品する
      = image_tag('material/icon/icon_camera.png', class: "buyBtn__icon")
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body     
    %nav
      %ul.pc-header-nav
        %li.toppage-header-top__footer-search-wrapper
          %h2
            = link_to root_path, class: "pc-header-nav-root list-parent" do
              = icon('fas', 'list-ul lg',
              alt: 'list-icon', style: 'color:#3CCACE')
              %span.toppage-header-top__footer-search-text カテゴリーから探す
          %ul.pc-header-nav-parent-wrap
            - @categories.roots.each do |root_category|
              %li.pc-header-nav-parent
                %h3
                  %a{:href => "/"}= root_category.name
                %ul.pc-header-nav-child-wrap
                  - root_category.children.each do |children_category|
                    %li.pc-header-nav-child
                      %a{:href => "/"}= children_category.name
                      %ul.pc-header-nav-grand-child-wrap
                        - children_category.children.each do |children_chidren_category|
                          %li.pc-header-nav-grand-child
                            %a{:href => "/"}= children_chidren_category.name
              

  %header.header
    .header__interior
      .middle
        %h1.icon
          = link_to image_tag('material/logo/logo.png'), "/"
        .searchBox
          %form{action: '#', accept: {charset: "UTF-8"}, method: "get"} 
            %input{name: "utf8", type: "hidden", value: "✔︎"}
            %input{class: "serchBox--input", id: "searchInput", name: "key", placeholder: "キーワードから探す"}
            %button{button: "submit"}
              .searchBox__icon
                = image_tag 'material/icon/icon-search 1.png', alt: 'サーチアイコン'
            %input{:name => "authenticity_token", :type => "hidden", :value => "E7WEpoIpr6jLOvBMUBgk49eXaFDDWeSCJkT0iVYeFZjedgoevFbggRrwM1MWfNwmbprOQFUumSqEkU6pUS5W0g=="}
        %ul.resultLists

      %nav.nav
        %ul.listLeft
          %li.listLeft__item.listLeft__item-first
            = link_to "カテゴリー", "#", id: "categoryBtn"
          -#   .tree.displayNone
          -#     %ul.categoryTree
          -#       %li.categoryTree--item
          -#         = link_to "レディース", "#", id:1
          -#       %li.categoryTree--item
          -#         = link_to "メンズ", "#", id:2
          -#       %li.categoryTree--item
          -#         = link_to "ベビー・キッズ", "#", id:3
          -#       %li.categoryTree--item
          -#         = link_to "インテリア・住まい・小物", "#", id:4
          -#       %li.categoryTree--item
          -#         = link_to "本・音楽・ゲーム", "#", id:5
          -#       %li.categoryTree--item
          -#         = link_to "おもちゃ・ホビー・グッズ", "#", id:6
          -#       %li.categoryTree--item
          -#         = link_to "コスメ・香水・美容", "#", id:7
          -#       %li.categoryTree--item
          -#         = link_to "家電・スマホ・カメラ", "#", id:8
          -#       %li.categoryTree--item
          -#         = link_to "スポーツ・レジャー", "#", id:9
          -#       %li.categoryTree--item
          -#         = link_to "ハンドメイド", "#", id:10
          -#       %li.categoryTree--item
          -#         = link_to "チケット", "#", id:11
          -#       %li.categoryTree--item
          -#         = link_to "自動車・オートバイ", "#", id:12
          -#       %li.categoryTree--item 
          -#         = link_to "その他", "#", id:13
          %li.listLeft__item
            = link_to "ブランド", "#", id: "brandBtn"
            %ul.brandPlldouwn.displayNone

        %ul.listsRight
          %li.listsRight__item.listsRight__item--login
            = link_to "ログイン", "#"
          %li.listsRight__item.listsRight__item--new
            = link_to "新規会員登録", "#"

  = yield

  %aside.appliBanner
    .middle
      %h2.middle__title だれでもかんたん、人生を変えるフリマアプリ
      %p.middle__text 今すぐ無料ダウンロード！
    .middle__icon
      = link_to "/" do
        = image_tag('material/logo/Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg', class: "appleBtn")
      = link_to "/" do
        = image_tag('material/logo/google-play-badge.svg', class: "googleBtn")

  %footer.footer
    %ul.contents
      %li.content
        %h2.content__title FURIMAについて
        %ul
          %li
            = link_to "会社概要(運営会社)", "#"
          %li
            = link_to "プライバシーポリシー", "#"
          %li
            = link_to "FURIMA利用規約", "#"
          %li
            = link_to "ポイントに関する特約", "#"
      %li.content
        %h2.content__title FURIMAを見る
        %ul
          %li
            = link_to "カテゴリー一覧", "#"
          %li
            = link_to "ブランド一覧", "#"
      %li.content
        %h2.content__title ヘルプ＆ガイド
        %ul
          %li
            = link_to "FURIMAガイド", "#"
          %li
            = link_to "FURIMAロゴ利用ガイドライン", "#"
          %li
            = link_to "お知らせ", "#"

    .footer__logo
      = link_to "/" do
        = image_tag('material/logo/logo-white.png')
    %p &copy; FM_log
  = link_to "/" ,class: "purchase" do
    .buyBtn
      %span.buyBtn__text 出品する
      = image_tag('material/icon/icon_camera.png', class: "buyBtn__icon")
